config.mk
*.lo
*.o
*.a
*.so.0
*.so
*.bz2
*.dylib
*.dylib.0
*.jnilib
*.dSYM
target/
msvc-dist/org/
msvc-dist/*.md
msvc-dist/Makefile*
msvc-dist/*.xml
msvc-dist/CHANGELOG
msvc-dist/COPYRIGHT
msvc-dist/configure
msvc-dist/.gitignore
quantized_example.png
example
lodepng.?
.idea
.vscode
.DS_Store
cmake-*
build
**/build
